<h1>Tableau de bord</h1>
<h2>Demandes de réservation</h2>

<% if @received_bookings.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Mémoire</th>
        <th>Client</th>
        <th>Date</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @received_bookings.each do |booking| %>
        <tr>
          <td><%= booking.memorie.title %></td>
          <td><%= booking.user.email %></td>
          <td><%= booking.date %></td>
          <td><%= booking.status %></td>
          <td>
            <%= link_to "Accepter", dashboard_path, method: :patch, class: "btn btn-success" %>
            <%= link_to "Refuser", reject_memory_booking_path(booking.memorie, booking), method: :patch, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p>Aucune demande de réservation.</p>
<% end %>

<h2>Mes réservations</h2>
<% if @my_bookings.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Mémoire</th>
        <th>Propriétaire</th>
        <th>Date</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <% @my_bookings.each do |booking| %>
        <tr>
          <td><%= booking.memorie.title %></td>
          <td><%= booking.memorie.user.email %></td>
          <td><%= booking.date %></td>
          <td>
            <% if booking.status == "en attente" %>
              <span class="badge bg-warning">En attente</span>
            <% elsif booking.status == "accepté" %>
              <span class="badge bg-success">Accepté</span>
            <% else %>
              <span class="badge bg-danger">Refusé</span>
            <% end %>
          </td>
          <td>
            <%= link_to dashboard_path, data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette réservation ?"} do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Vous n'avez pas encore fait de réservation.</p>
<% end %>
