<div class="container mt-4">
  <h1 class="mb-4" style="color: #00C7BE;">Tableau de bord</h1>

  <h2 class="mb-3" style="color: #00C7BE;">Vos demandes de réservation</h2>
  <% if @received_bookings.any? %>
    <table class="table border-0 table-borderless">
      <thead class="bg-info text-white">
        <tr style="text-align: center">
          <th style="padding: 10px;">Mémoire</th>
          <th style="padding: 10px;">Date</th>
          <th style="padding: 10px;">Client</th>
          <th style="padding: 10px;">Statut</th>
          <th style="padding: 10px;">Votre choix</th>
        </tr>
      </thead>
      <tbody>
        <% @received_bookings.each do |booking| %>
          <tr style="text-align: center;">
            <td><%= booking.memorie.title %></td>
            <td><%= booking.date.strftime("%d/%m/%Y") %></td>
            <td><%= booking.user.email %></td>
            <td><%= booking.status.capitalize %></td>
            <td>
              <div class="btn-group" role="group">
                <%= button_to accept_memory_booking_path(booking.memorie, booking), method: :patch, class: "btn btn-success btn-sm rounded-circle", style: "margin-right: 5px;" do %>
                  <span style="color: white;">✔</span>
                <% end %>
                <%= button_to reject_memory_booking_path(booking.memorie, booking), method: :patch, class: "btn btn-danger btn-sm rounded-circle" do %>
                  <span style="color: white;">✖</span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Aucune demande de réservation.</p>
  <% end %>

  <h2 class="mb-3 mt-5" style="color: #00C7BE;">Vos réservations à venir</h2>
  <% if @my_bookings.any? %>
    <table class="table border-0 table-borderless">
      <thead>
        <tr style="text-align: center">
          <th style="padding: 10px;">Mémoire</th>
          <th style="padding: 10px;">Date de location</th>
          <th style="padding: 10px;">Propriétaire</th>
          <th style="padding: 10px;">Statut</th>
          <th style="padding: 10px;">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <% @my_bookings.each do |booking| %>
          <tr style="text-align: center;">
            <td><%= booking.memorie.title %></td>
            <td><%= booking.date.strftime("%d/%m/%Y") %></td>
            <td><%= booking.memorie.user.email %></td>
            <td>
              <% if booking.status == "en attente" %>
                <span class="badge bg-warning">En attente</span>
              <% elsif booking.status == "accepté" %>
                <span class="badge bg-success">Confirmé</span>
              <% else %>
                <span class="badge bg-danger">Refusé</span>
              <% end %>
            </td>
            <td>
              <%= link_to "🗑️", memory_booking_path(booking.memorie, booking), class: "text-decoration-none", data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette réservation ?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Vous n'avez pas encore fait de réservation.</p>
  <% end %>

  <h2 class="mb-3 mt-5" style="color: #00C7BE;">Mes mémoires</h2>
  <% if @memories.any? %>
    <div class="row">
      <% @memories.each do |memorie| %>
           <div class="col-md-4 mb-4">
        <div class="card h-100 border-0 shadow-sm" style="border-radius: 10px; overflow: hidden;">
          <%= link_to memory_path(memorie) do %>
            <% if memorie.images.attached? && memorie.images.first %>
              <%= cl_image_tag memorie.images.first.key, class: "card-img-top", style: "height: 200px; object-fit: cover; border: 5px solid #00C7BE; border-radius: 10px 10px 0 0;" %>
            <% else %>
              <%= image_tag "Logo.png", class: "card-img-top", style: "height: 200px; object-fit: cover; border: 5px solid #00C7BE; border-radius: 10px 10px 0 0;" %>
            <% end %>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= memorie.title %></h5>
            <div class="btn-group mt-3" role="group">
              <%= link_to " ✏️ ", edit_memory_path(memorie), class: "p-2 fs-2 text-decoration-none" %>
              <%= link_to " 🗑️ ", memory_path(memorie), class: "p-2 fs-2 text-decoration-none", data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer ?" }%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Vous n'avez pas encore créé de mémoire.</p>
<% end %>
