<div class="container mt-4">
  <div class="row">
    <% @memories.each do |memorie| %>
      <div class="col-md-4 mb-4">
        <%= link_to memory_path(memorie), class: "text-decoration-none text-dark" do %>
          <div class="card h-100" style="border-radius: 10px;">
          <% if memorie.images.attached? %>
            <%= cl_image_tag memorie.images.first.key, class: "card-img-top", style: "height: 200px; object-fit: cover; border-radius: 10px;" %>
          <% else %>
            <%= image_tag "Logo.png", class: "card-img-top", style: "height: 200px; object-fit: cover; border-radius: 10px;" %>
          <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= memorie.title %></h5>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Ajoutez votre Mémoire", new_memory_path %>

