<div class="container mt-4">
  <h1 class="mb-4" style="max-width: 50%;"><%= @memorie.title %></h1>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100" style="border: none; background: transparent;">
        <% if @memorie.images.attached? && @memorie.images.first %>
          <%= image_tag url_for(@memorie.images.first), class: "card-img-top", style: "height: 400px; object-fit: cover; border-radius: 10px;" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <% if @memorie.images.attached? %>
          <% @memorie.images.drop(1).first(4).each do |image| %>
            <div class="col-md-6 mb-4">
              <div class="card h-100" style="border: none; background: transparent;">
                <%= image_tag url_for(image), class: "card-img-top", style: "height: 190px; object-fit: cover; border-radius: 10px;" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <h2 class="mb-4 w-50"><%= @memorie.description %></h2>
  <p class="card-text text-muted">
    ⏳ <%= @memorie.date.present? ? @memorie.date.strftime("%d/%m/%Y") : "Date non définie" %>
  </p>
  <p>
  <i class="fa-solid fa-location-dot"></i>
  <span><%= @memorie.location %></span>
  </p>
</div>
<div data-controller="toggle" class="m-5">
  <div class="d-flex justify-content-between" style="margin-bottom: 20px; margin-left: 20px;">
    <button data-action="click->toggle#fire" class="btn btn-custom mr-2 ">Reserver cette mémoire</button>
    <%= link_to "Retour à la liste", root_path, class: "btn btn-custom mr-2" %>
  </div>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "bookings/form", booking: @booking %>
  </div>
</div>
